
.vsi-fe1-banner{
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 100px 0 295px;
    margin: 0;
    background-image: url(../images/about-us/desktop-masthead-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.vsi-fe1-text-banner{
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.vsi-fe1-text-banner .csi-fe1-text-big{
    line-height: 1.25;
    font-size: 48px;
    padding: 0;
    margin: 0;
    text-align: center;
    color: var(--black);
    font-family: 'Nunito Sans';
    font-weight: bold;
}
.vsi-fe1-text-smail{
    max-width: 300px;
    padding-top: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.vsi-fe1-number{
    text-align: right;
    line-height: 20px;
    margin: 0 auto;
}
.vsi-fe1-number .vsi-fe1-number-year{
    font-size: 40px;
    font-family: 'Nunito Sans';
    padding: 0;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    
}
.vsi-fe1-number .vsi-fe1-number-info{
    line-height: 27px;
    font-size: 18px;
    padding: 0;
    margin-bottom: 0.5rem;
    font-family: 'Nunito Sans';
    font-weight: normal;
    color: var(--black);
    text-align: center;
}
.vsi-fe1-count{
    text-align: left;
    line-height: 20px;
    margin: 0 auto;

}
.vsi-fe1-flex{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.vsi-fe1-count .vsi-fe1-count-number{
    font-size: 40px;
    font-family: 'Nunito Sans';
    padding: 0;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}
.vsi-fe1-count .vsi-fe1-count-info{
    line-height: 27px;
    font-size: 18px;
    padding: 0;
    margin-bottom: 0.5rem;
    font-family: 'Nunito Sans';
    font-weight: normal;
    color: var(--black);
}
.vsi-fe1-clip-path{
    background-color: var(--white);
    height: 200px;
    left: 0px;
    right: 0;
    width: 100%;
    padding: 110px 0 90px;
    background-size: cover;
    position: relative;
    margin-top: -155px;
    z-index: 9;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 100%);
    transform: rotate(540deg);
    overflow: hidden;
}

/* CSS rec start*/
.vsi-fe1-rec-left{
    position: absolute;
    left: 0;
    bottom: -42px;
    z-index: 9;

}
.vsi-fe1-rec-grey-left{
    -webkit-transform: skewY(-6.2deg) scaleX(1);
    transform: skewY(-6.2deg) scaleX(1);
    width: 0px;
    height: 50px;
    padding: 0;
    margin: 0;
    left: 0;
    bottom: -2px;
    background-color: #e7ebf1;
    position: absolute;
    -webkit-animation-name: chart-grey; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: chart-grey;
	animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes chart-grey {
    from {width: 0px;}
    to {width:135px;}
}
/* Standard syntax */
@keyframes chart-grey {
    from {width: 0px;}
   to {width:135px;}
}
.vsi-fe1-rec-orange-left{
    position: relative;
    left: 0;
    bottom: -40px;
    padding: 0;
    margin: 0;
    height: 50px;
    -webkit-transform: skewY(-6.2deg) scaleX(1);
    transform: skewY(-6.2deg) scaleX(1);
    background-color: #ffbd9d;
    width: 0px;
    -webkit-animation-name: chart-orange; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: chart-orange;
	animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes chart-orange {
    from {width: 0px;}
    to {width:352px;}
}
/* Standard syntax */
@keyframes chart-orange {
    from {width: 0px;}
   to {width:352px;}
}
.vsi-fe1-rec-orange-left::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0px;
    background-color: #ff965c;
    height: 100%;
    -webkit-animation-name: chart-grey-right; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: chart-grey-right;
	animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes chart-grey-right {
    from {width: 0px;}
    to {width:217px;}
}
/* Standard syntax */
@keyframes chart-grey-right {
    from {width: 0px;}
   to {width:217px;}
}
.vsi-fe1-rec-right{
    right: 0;
    position: absolute;
    bottom: 50px;
    z-index: 9;
}

.vsi-fe1-rec-gray-right{
    -webkit-transform: skewY(-6.2deg) scaleX(1);
    transform: skewY(-6.2deg) scaleX(1);
    width: 0px;
    height: 50px;
    background-color: #e7ebf1;
    position: absolute;
    right: 0;
    bottom: 35px;
    -webkit-animation-name: chart-grey-right; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: chart-grey-right;
	animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes chart-grey-right {
    from {width: 0px;}
    to {width:159px;}
}
/* Standard syntax */
@keyframes chart-grey-right {
    from {width: 0px;}
   to {width:159px;}
}
.vsi-fe1-orange-border-right{
    border: 1px solid #ffbd9d;
    background-color: transparent;
    -webkit-transform: skewY(-6.2deg) scaleX(1);
    transform: skewY(-6.2deg) scaleX(1);
    width: 0px;
    height: 50px;
    padding: 0;
    margin: 0;
    right: 0px;
    bottom: -24px;
    position: absolute;
    -webkit-animation-name: chart-orange-border-right; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: chart-orange-border-right;
	animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes chart-orange-border-right {
    from {width: 0px;}
    to {width:330px;}
}
/* Standard syntax */
@keyframes chart-orange-border-right {
    from {width: 0px;}
   to {width:330px;}
}
.vsi-fe1-orange-light-right{
    -webkit-transform: skewY(-6.2deg) scaleX(1);
    transform: skewY(-6.2deg) scaleX(1);
    height: 50px;
    width: 0px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: -60px;
    background-color: #ffbd9d;
    -webkit-animation-name: chart-orange-right; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
	animation-name: chart-orange-right;
	animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes chart-orange-right {
    from {width: 0px;}
    to {width:86px;}
}
/* Standard syntax */
@keyframes chart-orange-right {
    from {width: 0px;}
   to {width:86px;}
}
/* CSS rec end*/
.vsi-fe1-title{
    text-align: center;
    margin-bottom: 54px;
    padding-bottom: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    color: var(--black);
    font-weight: bold;
    padding-bottom: 18px;
}
.vsi-fe1-title::before{
    position: absolute;
    bottom: 87%;
    content: '';
    height: 1px;
    width: 40px;
    background-color: var(--black);
    left: 50%;
    font-weight: bold;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.vsi-fe1-content-text{
    text-align: center;
    padding: 0;
    margin: 0;
}
.vsi-fe1-content-text p{
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.44;
    color: #161616;
}
.vsi-fe1-hover-box{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
}
.rectangle-item{
    width: 24%;
    padding-right: 15px;
    margin-right: 20px;
    -webkit-transition: .5s all ease;
    transition: .5s all ease;

}
.vsi-fe1-icon{
    padding: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f7f9fc;
    border-radius: 10px;
    text-align: center;
    height: 280px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
}
.vsi-fe1-pad{
    background-color: #f7f9fc;
    border-radius: 10px;
    text-align: center;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    padding: 40px;
    transition: 0.5s all ease-in-out;
}
.vsi-fe1-pad-btn{
    padding: 53px 0px;
}
.vsi-fe1-text-icon{
    font-size: 18px;
    line-height: 1.44;
    font-weight: 500;
    color: #161616;
    padding-top: 20px;
    margin: 0;
}
svg.svg-inline--fa.fa-chevron-down.fa-w-14 {
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.fa, .fas {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}
.fa-chevron-down{
    font-family: "Font Awesome 5 Pro";
    font-weight: 900; 
}
.vsi-fe1-icon-down{
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    margin-top: auto;
    display: block;
}
.vsi-fe1-icon-block{
    display: none !important;
}
.vsi-fe1-active{
    background: var(--white);
    position: relative;
    width: 457px;
    z-index: 99;
}
.vsi-fe1-text-content{
    font-size: 18px;
    padding: 0px;
    margin: 20px 0px;
    width: 350px !important;
    line-height: 27px;
    text-align: center;
    font-family: 'Nunito Sans';
    display: none;
}
.vsi-fe1-active-text{
    display: block !important;
}

.vsi-fe1-hiring{
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 65px 0px 0px 150px;
    margin: 0;
    position: relative;
    overflow: hidden;
    right: 0;
}
.vsi-fe1-img-hiring img{
    width: 100%;
    max-width: 100%;
    height: 392px;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.vsi-fe1-text-hiring{
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin-top: 80px;
}
.vsi-fe1-text-hiring .vsi-fe1-title-hiring{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    color: #161616;
    padding-bottom: 18px;
    position: relative;
    margin-bottom: 23px;
    font-weight: bold;
}
.vsi-fe1-text-hiring .vsi-fe1-title-hiring::before{
    position: absolute;
    bottom: 0;
    content: '';
    height: 1px;
    width: 40px;
    background-color: #000000;
}
.vsi-fe1-h1-hiring{
    font-size: 32px;
    line-height: 40px;
    color: #161616;
    margin-bottom: 20px;
    font-family: 'Nunito Sans';
    font-weight: bold;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;

}
.vsi-fe1-p-hiring{
    margin-bottom: 40px;
    padding: 0;
    font-size: 18px;
    line-height: 27px;
    color: var(--black);
    font-weight: normal;
    text-align: left;
}
.vsi-fe1-a-hiring{
    margin-bottom: 40px;
    padding: 0;
    font-size: 18px;
    line-height: 27px;
    color: var(--black);
    font-weight: normal;
    text-align: left;

}
.vsi-fe1-a-hiring{
    text-align: left;
    font-size: 16px;
    padding: 0;
    position: absolute;
    margin: 0;
    color: #f26f31;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s linear;
}
.vsi-fe1-a-hiring:hover {
    text-decoration: none;
    color: #f26f31;
    outline: none;
    padding: 0;
    margin: 0;
}
.vsi-fe1-a-hiring:hover .svg-inline--fa{
    font-size: 10px;
    position: absolute;
    right: -20px;
    bottom: 6px;
    transition: all 0.5s linear;
    
}
.vsi-fe1-cipt-path{
    -webkit-clip-path: polygon(0% 15%, 100% 3%, 100% 85%, 0% 97%);
    clip-path: polygon(0% 15%, 100% 3%, 100% 85%, 0% 97%);
}
.vsi-fe1-countries{
    width: 100%;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    margin-top: 50px;
    background-color: var(--light-gray);
    background-size: cover;
    position: relative;
    padding: 180px 0 200px;
    text-align: center;
    -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
}
.vsi-fe1-icon{
    text-align: center;
    padding: 0;
    margin: 0;
    height: auto;
}
.vsi-fe1-h3-countries{
    text-align: center;
    padding: 0;
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Nunito Sans';
    font-size: 32px;
    font-weight: 700;
}
.vsi-fe1-h3-countries .vsi-fe1-span-countries{
    color: #f26f31;
    padding: 0;
    margin: 0;
    font-weight: 700;

}
.vsi-fe1-rec-countries-left{
    position: absolute;
    left: 0;
    top: 117px;
    z-index: 9;
}
.vsi-fe1-rec-countries-right{
    position: absolute;
    right: 0;
    top: 180px;
    z-index: 9;
}
.vsi-fe1-countries-grey-left{
    -webkit-transform: skewY(-5deg) scaleX(1);
    transform: skewY(-5deg) scaleX(1);
    width: 0px;
    height: 50px;
    position: absolute;
    left: 0;
    background-color: #e7ebf1;
    -webkit-animation-name: countries-grey-left; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: countries-grey-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes countries-grey-left {
    from {width: 0px;}
    to {width:247px;}
}
/* Standard syntax */
@keyframes countries-grey-left {
    from {width: 0px;}
    to {width:247px;}
}
.vsi-fe1-countries-orager-border-left{
    -webkit-transform: skewY(-5deg) scaleX(1);
    transform: skewY(-5deg) scaleX(1);
    border: 1px solid #ffbd9d;
    background-color: transparent;
    height: 50px;
    width: 0px;
    position: absolute;
    top: 54px;
    -webkit-animation-name: countries-orager-border-left; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: countries-orager-border-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes countries-orager-border-left {
    from {width: 0px;}
    to {width:135px;}
}
/* Standard syntax */
@keyframes countries-orager-border-left {
    from {width: 0px;}
    to {width:135px;}
}
.vsi-fe1-countries-grey-right{
    -webkit-transform: skewY(-5deg) scaleX(1);
    transform: skewY(-5deg) scaleX(1);
    width: 0px;
    background-color: #e7ebf1;
    padding: 0;
    margin: 0;
    right: 0;
    height: 50px;
    -webkit-transition: 1.5s all ease-out;
    transition: 1.5s all ease-out;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    position: absolute;
    -webkit-animation-name: countries-grey-right; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: countries-grey-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes countries-grey-right {
    from {width: 0px;}
    to {width:130px;}
}
/* Standard syntax */
@keyframes countries-grey-right {
    from {width: 0px;}
    to {width:130px;}
}
.vsi-fe1-countries-orager-border-right{
    -webkit-transform: skewY(-5deg) scaleX(1);
    transform: skewY(-5deg) scaleX(1);
    width: 0px;
    padding: 0;
    margin: 0;
    top: 50px;
    right: 0;
    height: 50px;
    border: 1px solid #ffbd9d;
    background-color: transparent;
    -webkit-transition: 1.5s all ease-out;
    transition: 1.5s all ease-out;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    margin-left: auto;
    position: absolute;
    -webkit-animation-name: countries-orager-border-right; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: countries-orager-border-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes countries-orager-border-right {
    from {width: 0px;}
    to {width:262px;}
}
/* Standard syntax */
@keyframes countries-orager-border-right {
    from {width: 0px;}
    to {width:262px;}
}
.vsi-fe1-countries-orager-right{
    -webkit-transform: skewY(-5deg) scaleX(1);
    transform: skewY(-5deg) scaleX(1);
    width: 0px;
    padding: 0;
    margin: 0;
    right: 0;
    top: 100px;
    position: absolute;
    height: 50px;
    background-color: #ffbd9d;
    -webkit-transition: 1.5s all ease-out;
    transition: 1.5s all ease-out;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    margin-left: auto;
    -webkit-animation-name: countries-orager-right; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: countries-orager-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes countries-orager-right {
    from {width: 0px;}
    to {width:91px;}
}
/* Standard syntax */
@keyframes countries-orager-right {
    from {width: 0px;}
    to {width:91px;}
}
.vsi-fe1-mg-top{
    margin-top: 80px !important;
}
.vsi-fe1-countries-world{
    width: 100%;
    max-width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}
.vsi-fe1-img-world{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
.vsi-fe1-img-world img{
    height: auto;
    max-width: 100%;
    margin: 0;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    vertical-align: middle;
    padding-right: 15px;
}
.vsi-fe1-text-world{
    font-size: 20px;
    line-height: 1.3;
    color: #161616;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-family: 'Nunito Sans';
}
.vsi-fe1-mg-btn{
    margin-bottom: 50px !important;
}
.tooltip {
    position: relative; 
    display: inline-block;
    border-bottom: 1px dotted black; 

    margin: auto;
    width: 150px;
    height: 35px;
    line-height: 35px;
    background: yellow;
    display: block;
    margin-top: 20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.vsi-fe1-tooltip{
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.vsi-fe1-tooltip-hover{
    position: absolute;
    top: 150%;
    width: 300px;
    margin-top: auto;
    max-width: 300px;
    height: auto;
    padding: 20px;
    margin: 0;
    left: -50px;
    background: var(--white);
    transition: all 0.5s linear;
    display: none;
    z-index: 99;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.22);
}
.vsi-fe1-tooltip-hover::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: var(--white);
    padding: 0;
    margin: 0;
    top: 0;
    top: -10px;
    left: 43%;
    text-align: center;
    transform: rotate(133deg);
}
.vsi-fe1-tooltip:hover .vsi-fe1-tooltip-hover{
    display: block !important;
}
.vsi-fe1-box-tooltip{
    width: 100%;
    max-width: 100%;
    height: auto;
}
.vsi-fe1-h3-tooltip{
    margin: 10px 0;
    font-family: 'Nunito Sans';
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    color: #161616;
    padding-bottom: 18px;
    position: relative;
    font-weight: bold;
}
.vsi-fe1-h3-tooltip::before{
    position: absolute;
    bottom: 0;
    content: '';
    height: 2px;
    width: 40px;
    background-color: #000000;
}
.vsi-fe1-p-tooltip{
    padding: 0;
    margin: 0;
    text-align: left;
    font-family: 'Nunito Sans';
    color: var(--black);
}
.vsi-fe1-mbl-ipad{
    display: none;
}
@media (max-width: 575.98px) { 
    .vsi-fe1-text-banner .csi-fe1-text-big{
        line-height: 1.25;
        font-size: 32px;
    }
    .vsi-fe1-number .vsi-fe1-number-info{
        font-size: 16px;
    }
    .vsi-fe1-count .vsi-fe1-count-number{
        font-size: 24px;
    }
    .vsi-fe1-number .vsi-fe1-number-year{
        font-size: 24px;
    }
    .vsi-fe1-banner {
        background-image: url(../images/about-us/desktop-masthead-about.png);
    }
    .vsi-fe1-clip-path{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    }
    .vsi-fe1-rec-grey-left {
        display: none;
    }
    .vsi-fe1-rec-orange-left {
        top: -78px;
        bottom: 0;
        -webkit-transform: skewY(-4.2deg) scaleX(1);
        transform: skewY(-2.2deg) scaleX(1);
        width: 207px;
        -webkit-animation-name: chart-orange; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: chart-orange;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes chart-orange {
        from {width: 0px;}
        to {width:207px;}
    }
    /* Standard syntax */
    @keyframes chart-orange {
        from {width: 0px;}
        to {width:207px;}
    }
    .vsi-fe1-rec-orange-left::before{
        width: 109px;
        -webkit-animation-name: chart-grey-right; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: chart-grey-right;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes chart-grey-right {
        from {width: 0px;}
        to {width:109px;}
    }
    /* Standard syntax */
    @keyframes chart-grey-right {
        from {width: 0px;}
        to {width:109px;}
    }
    .vsi-fe1-rec-gray-right {
        display: none;
    }
    .vsi-fe1-orange-light-right {
        display: none;
    }
    .vsi-fe1-orange-border-right {
        -webkit-transform: skewY(-1.5deg) scaleX(1);
        transform: skewY(-0.5deg) scaleX(1);
        width: 13px;
        -webkit-animation-name: chart-orange-border-right; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: chart-orange-border-right;
        animation-duration: 1s;
        bottom: -59px;
        animation-fill-mode: forwards;
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes chart-orange-border-right {
        from {width: 0px;}
        to {width:43px;}
    }
    /* Standard syntax */
    @keyframes chart-orange-border-right {
        from {width: 0px;}
        to {width:43px;}
    }
    .vsi-fe1-hiring{
        padding-left: 0px !important;
    }
    .vsi-fe1-img-hiring{
        display: none;
    }
    .vsi-fe1-rec-countries-right {
        display: none;
    }
    .vsi-fe1-countries {
        clip-path: polygon(0% 3%, 100% 0%, 100% 100%, 0% 100%);
        padding-top: 80px;
        padding-bottom: 180px;
    }
    .vsi-fe1-countries-grey-left{
        -webkit-transform: skewY(-5deg) scaleX(1);
        transform: skewY(-5deg) scaleX(1);
        width: 0px;
        height: 40px;
        position: absolute;
        left: 0;
        background-color: #e7ebf1;
        -webkit-animation-name: countries-grey-left-mbl; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: countries-grey-left-mbl;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes countries-grey-left-mbl {
        from {width: 0px;}
        to {width:136px;}
    }
    /* Standard syntax */
    @keyframes countries-grey-left-mbl {
        from {width: 0px;}
        to {width:136px;}
    }
    .vsi-fe1-countries-orager-border-left{
        -webkit-transform: skewY(-5deg) scaleX(1);
        transform: skewY(-5deg) scaleX(1);
        border: 1px solid #ffbd9d;
        background-color: transparent;
        height: 40px;
        width: 0px;
        position: absolute;
        top: 45px;
        -webkit-animation-name: countries-orager-border-left; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: countries-orager-border-left;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes countries-orager-border-left {
        from {width: 0px;}
        to {width:56px;}
    }
    /* Standard syntax */
    @keyframes countries-orager-border-left {
        from {width: 0px;}
        to {width:56px;}
    }
    .vsi-fe1-rec-countries-left {
        top: 30px;
    }
    .vsi-fe1-countries-world.vsi-fe1-tooltip {
        flex-direction: column;
    }
    .vsi-fe1-img-world img{
        padding-left: 0px !important;
    }
    .vsi-fe1-text-world {
        font-size: 16px;
        margin-top: 10px;
    }
    .vsi-fe1-mbl-ipad{
        display: inline-block !important;
    }
    .vsi-fe1-tooltip:hover .vsi-fe1-tooltip-hover{
        display: none !important;
    }
    .rectangle-item{
        width: 100%;
        min-width: 100%;
        display: block !important;
    
    }
    .vsi-fe1-hover-box {
        flex-direction: column !important;
        display: block !important;
        width: 100%;
        max-width: 100%;
        padding: 0px !important;
        text-align: center;
    }
    .vsi-fe1-text-content{
        width: 100% !important;
    }
    
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
    .vsi-fe1-text-banner .csi-fe1-text-big{
        line-height: 1.25;
        font-size: 32px;
    }
    .vsi-fe1-number .vsi-fe1-number-info{
        font-size: 16px;
    }
    .vsi-fe1-count .vsi-fe1-count-number{
        font-size: 24px;
    }
    .vsi-fe1-number .vsi-fe1-number-year{
        font-size: 24px;
    }
    .vsi-fe1-banner {
        background-image: url(../images/about-us/desktop-masthead-about.png);
    }
    .vsi-fe1-clip-path{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    }
    .vsi-fe1-rec-grey-left {
        display: none;
    }
    .vsi-fe1-rec-orange-left {
        /* top: 0; */
        bottom: 277px;
        -webkit-transform: skewY(-4.2deg) scaleX(1);
        transform: skewY(-1.2deg) scaleX(1);
        width: 207px;
        -webkit-animation-name: chart-orange; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: chart-orange;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes chart-orange {
        from {width: 0px;}
        to {width:207px;}
    }
    /* Standard syntax */
    @keyframes chart-orange {
        from {width: 0px;}
        to {width:207px;}
    }
    .vsi-fe1-rec-orange-left::before{
        width: 109px;
        -webkit-animation-name: chart-grey-right; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: chart-grey-right;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes chart-grey-right {
        from {width: 0px;}
        to {width:109px;}
    }
    /* Standard syntax */
    @keyframes chart-grey-right {
        from {width: 0px;}
        to {width:109px;}
    }
    .vsi-fe1-rec-gray-right {
        display: none;
    }
    .vsi-fe1-orange-light-right {
        display: none;
    }
    .vsi-fe1-orange-border-right {
        -webkit-transform: skewY(-1.5deg) scaleX(1);
        transform: skewY(-3.5deg) scaleX(1);
        width: 13px;
        -webkit-animation-name: chart-orange-border-right; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: chart-orange-border-right;
        animation-duration: 1s;
        bottom: 140px;
        animation-fill-mode: forwards;
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes chart-orange-border-right {
        from {width: 0px;}
        to {width:43px;}
    }
    /* Standard syntax */
    @keyframes chart-orange-border-right {
        from {width: 0px;}
        to {width:43px;}
    }
    .vsi-fe1-hiring{
        padding-left: 0px !important;
    }
    .vsi-fe1-img-hiring{
        display: none;
    }   
    .vsi-fe1-rec-countries-right {
        display: none;
    }
    .vsi-fe1-countries-grey-left{
        -webkit-transform: skewY(-5deg) scaleX(1);
        transform: skewY(-5deg) scaleX(1);
        width: 0px;
        height: 40px;
        position: absolute;
        left: 0;
        background-color: #e7ebf1;
        -webkit-animation-name: countries-grey-left-mbl; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: countries-grey-left-mbl;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes countries-grey-left-mbl {
        from {width: 0px;}
        to {width:136px;}
    }
    /* Standard syntax */
    @keyframes countries-grey-left-mbl {
        from {width: 0px;}
        to {width:136px;}
    }
    .vsi-fe1-countries-orager-border-left{
        -webkit-transform: skewY(-5deg) scaleX(1);
        transform: skewY(-5deg) scaleX(1);
        border: 1px solid #ffbd9d;
        background-color: transparent;
        height: 40px;
        width: 0px;
        position: absolute;
        top: 45px;
        -webkit-animation-name: countries-orager-border-left; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
        animation-name: countries-orager-border-left;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes countries-orager-border-left {
        from {width: 0px;}
        to {width:56px;}
    }
    /* Standard syntax */
    @keyframes countries-orager-border-left {
        from {width: 0px;}
        to {width:56px;}
    }
    .vsi-fe1-countries {
        clip-path: polygon(0% 3%, 100% 0%, 100% 100%, 0% 100%);
        padding-top: 80px;
        padding-bottom: 180px;
    }
    .vsi-fe1-rec-countries-left {
        top: 35px;
    }
    .vsi-fe1-countries-world.vsi-fe1-tooltip {
        flex-direction: column;
    }
    .vsi-fe1-img-world img{
        padding-left: 0px !important;
    }
    .vsi-fe1-text-world {
        font-size: 16px;
        margin-top: 10px;
    }
    .vsi-fe1-mbl-ipad{
        display: inline-block !important;
    }
    .vsi-fe1-tooltip:hover .vsi-fe1-tooltip-hover{
        display: none !important;
    }
    .rectangle-item{
        width: 100%;
        min-width: 100%;
        display: block !important;
    
    }
    .vsi-fe1-hover-box {
        flex-direction: column !important;
        display: block !important;
        width: 100%;
        max-width: 100%;
        padding: 0px !important;
        text-align: center;
    }
    .vsi-fe1-text-content{
        width: 100% !important;
    }
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
    
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    
 }

@media (min-width: 1200px) { 
    
 }  