
/* Start Our Solution */

.vsi-fe3-our-solutions__banner{
    background-color: #f7f9fc;
    text-align: center;
    padding: 100px 0 322px 0 ;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100% );
}


.vsi-fe3-our-solutions__banner--title{
    font-size: 48px;
    font-weight: 500;
    color: var(--black);
}
.vsi-fe3-our-solutions__banner  p {
    color: var(--black);
    font-size: 18px;
    font-weight: 400;
}

.vsi-fe3-our-solutions__banner__content span{
    color: var(--orange);
    font-size: 18px;
    font-weight: 600;

}
.vsi-fe3-our-solutions__banner--btn{
    background-color: var(--black);
    border-color: var(--black);
    padding: 15px 20px;
    border-radius: 0;
    font-weight: 500;

}
.vsi-fe3-our-solutions__banner--btn:hover{
    color: var(--silver);
    background-color: var(--black);
    border-color: var(--black);
}

.vsi-fe3-dashboard__banner--pc {
    width: 620px;
    height: 540px;
    position: absolute;
    top: -180px;
    left: 220px;
}
.vsi-fe3-dashboard__banner--mobile {
    width: 355px;
    height: 540px;
    position: absolute;
    top: -240px;
    right: 230px;
   
}


.vsi-fe3-dashboard__banner--content{
 display: flex;
 justify-content: center;  
 position: relative; 
}

.vsi-fe3-our-solutions__left{
    width: 100%;
    height: 50px;
    position: relative;
  
}

.vsi-fe3-our-solutions__left .vsi-fe3-our-solutions__left-1{
    width: 320px;
    height: 50px;
    background-color: var(--primary--green);
    transform: skewY(-3.8deg) ;
    position: absolute;
    top:-9px;
    left: 0;
}

.vsi-fe3-our-solutions__left  .vsi-fe3-our-solutions__left-2{
    border: 1px solid #e7ebf1;
    width: 230px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.25);
    transform: skewY(-4deg) skewX(-3.5deg) ;
    position: absolute;
    top:-20px;
    left: 0;
    margin-left: 200px;
}


.vsi-fe3-our-solutions__right{
    width: 100%;
    height: 50px;
    position: relative;
  
}

.vsi-fe3-our-solutions__right .vsi-fe3-our-solutions__right-1{
    width: 190px;
    height: 50px;
    background-color: #e7ebf1;
    transform: skewY(-3.8deg) ;
    position: absolute;
    top:-136px;
    right: 0;
}

.vsi-fe3-our-solutions__right  .vsi-fe3-our-solutions__right-2{
    width: 210px;
    height: 50px;
    background-color:rgba(255, 255, 255, 0.25);
    transform: skewY(-3.8deg) ;
    position: absolute;
    top:-80px;
    right: 90px;
    border: 1px solid #e7ebf1;
}





/* End Solution */