/* font */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}


/* CSS Header - Start */

.vsi-header__empty{
    height: 80px;
    width: 100%;
}
/* Header PC  START*/
.vsi-header__menu-item{
    position: relative;
    height: 90%;
    /* display: none; */
}
.vsi-my-header{
    box-shadow: none;
    border: 1px solid white;
   
}


.vsi-header__menu-item a{
   
    color: black;
}
.vsi-my-header-menu{
    background-color: white;
    min-height: 80px;
}
.vsi-header-logo{
    width: 65px;
    height: 60px;
}
/* Header PC END */

/* Header MB START */
.vsi-my-navbarNav-footer-mobile
{
    position: absolute;
    bottom: 4%;
    right: 0;
    height: 80px;
    width: 100%;
    display: none;
}

.vsi-my-navbarNav-footer-mobile-lang{
    position: absolute;
    bottom: 5%;
    left: 3%;
    margin-right: 20px;
}
.vsi-my-navbarNav-footer-mobile-contact{
    position: absolute;
    bottom: 5%;
    left: 20%;
}
.vsi-my-navbarNav-footer-mobile-logo{
    position: absolute;
    bottom: 5%;
    right:  5%;
}
.vsi-my-navbarNav-footer-mobile-show{
    display: block;
}
.vsi-header__menu-list{
    height: 90%;
}
.vsi-header__menu-list a:hover{
    text-decoration: none;
    /* background-color: white; */
}

@keyframes vsi-header__menu-item-animation{
    0%   { 
        margin-top: 100px;
    }
    100% { 
        margin-top: 0px;
    
    }
 } 
.vsi-header__menu-item-show   {
    animation-name: vsi-header__menu-item-animation;
    animation-duration: 1s;
    display: block;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    
}
.vsi-header__menu-item-opacity-show{
    animation-name:  vsi-header__menu-item-opacity-animation;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}
@keyframes vsi-header__menu-item-opacity-animation{
    0%   { 
       opacity: 0; 
    }
    50% {
        opacity: 0;
    }
    100% { 
      
       opacity: 1;    
    }
}

.vsi-header_menu-test{
    display: none;
}

.vsi-header_menu-test img{
    margin: 0 20px;
}

@keyframes vsi-header_menu-test-animation{
    0%   { margin-bottom: -50px;}
    100% { margin-bottom: 50px;}
 } 
.vsi-header_menu-test-show   {
    display:inline-block ;
    animation-name:vsi-header_menu-test-animation;
    animation-duration: 1s;
    /* transform: translateY(50px); */
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}


.vsi-my-navbarNav-footer-mobile-content{
    padding: 0 20px;
 
}
.vsi-header__menu-btn-mb{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    color: white;
    background-color: black ;
    padding: 30px 15px;
    display: none;
}


.vsi-header__menu-btn-mb-show{
    display: block;
    animation-name: vsi-header__menu-btn-mb-animation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}

@keyframes vsi-header__menu-btn-mb-animation{
    from{
        left:  -500px;
    }
    to{
        left: 0px;
    }
 } 

 .vsi-my-header-menu{
     padding: 10px 0;
 }

.vsi-my-navbarNav-footer-mobile a {
    color: black;
}
.vsi-header__menu-list a {
    color: black;
}
.luxbar-menu-material-cyan .active, .luxbar-menu-material-cyan .luxbar-item:hover {
    background-color: white;
}
.vsi-header__menu-item li a:hover{
    color: #f26f31;
}

.vsi-fe3-header-animation-hide{
    display: none;
}
.vsi-fe3-header-animation-show{
    display: block;
}
.vsi-my-header__content{
    padding: 0;
    background-color: white;
}
.luxbar-menu-material-cyan .luxbar-hamburger span, .luxbar-menu-material-cyan .luxbar-hamburger span::before, .luxbar-menu-material-cyan .luxbar-hamburger span::after {
    background-color: black;
}
@media (min-width: 767.98px){
    .vsi-header-icon{
       width: 50px;
       height: 50px;
       background-color: #000000;
       margin-top: 5px;
    }
    .vsi-header-icon:hover{
        opacity: 0.75;
        transition: .3s all ease;
    }
    .vsi-my-header__content{
        padding: 20px 5%;
        background-color: white;
    }
   
}
@media (min-width: 1199.98px) {
    .vsi-header__menu-list a {
        padding: 20px 10px;
        font-size: 14px;
        color: #161616;
        font-weight: 600;
        margin-right: 40px;
    }
    
    
 }
@media (max-width: 1199.98px){
    .vsi-header__menu-list a {
        font-size: 14px;
        padding: 20px 10px;
        color: #161616;
        font-weight: 600;
    }
   
   
}
@media (max-width: 991.98px){
    .vsi-header__menu-list a {
        font-size: 12px;
        padding: 20px 10px;
        color: #161616;
    }
}

@media (max-width: 767.98px){
    .vsi-header__empty{
        height: 35px;
        width: 100%;
    }
    .vsi-header-icon{
        display: none;
    }
    .vsi-header__menu-list a {
        font-size: 20px;
        color: #161616;
    }
    .luxbar-item:first-child{
        margin-top: 40px;
    }
    .vsi-header-logo{
        width: 55px;
        height: 50px;
    }
    .vsi-header__menu-item li a:hover{
        color:#161616;
    }
}
@media (max-width: 575.98px){
    .vsi-my-navbarNav-footer-mobile-contact{
        position: absolute;
        bottom: 5%;
        left: 20%;
        margin-left: 40px;
    }
   
}

/* CSS Header - End */

/* CSS footer - start */
footer{
    background: linear-gradient(to top, #ffffff 70%,  #f7f9fc  30% );
}
.vsi-fe3-footer-position{
    position: relative;
}
.vsi-fe3-my-footer__banner{
    width: 100%;
    /* position: absolute;
    bottom: 95%; */
    background-color: white;
    box-shadow:2px 2px 20px 5px #f5f5f5;
  
}
.vsi-fe3-footer__banner--item{
    align-self: center;
    text-align: right;
}
.vsi-fe3-my-footer__banner--btn{
    background-color: var(--black);
    border-color: var(--black);
    padding: 15px 20px;

}
.vsi-fe3-my-footer__banner--btn:hover{
    color: var(--silver);
    background-color: var(--black);
    border-color: var(--black);
}

.vsi-fe3-footer__banner--item h2{
    font-size: 40px;
    color: #000000;
    text-align: left;
}
.vsi-fe3-footer__banner--item p{
    font-size: 18px;
    color: #000000; 
    text-align: left;
}
.vsi-fe3-footer__banner--item-content{
    margin-left: 40px;
}

@media (max-width: 767.98px){
    .vsi-fe3-footer__banner--item-content{
        margin-left: 0;
    } 
    .vsi-fe3-my-footer__banner{
        padding: 40px 30px;
        /* width: 100%; */
    }
    
    .vsi-fe3-footer__banner--item{
        text-align: left;
    }

   .vsi-fe3-footer__banner--img{
        display: none;
   } 
   .vsi-fe3-my-footer__bottom .item-right a {
        text-align: left;
        display: block;
    }
    .vsi-fe3-my-footer__content--item img {
        width: 45px;
        height: 25px;
    }
    
}
.vsi-fe3-my-footer__content--item-link{
    text-decoration: none;
    color: #cacaca;
}

.vsi-fe3-my-footer__content--item-link:hover{
    text-decoration: none;
    color: var(--black);
}

.vsi-fe3-my-footer__content--item--list ul{
    list-style-type: none;
    font-size: 14px;
    
}
.vsi-fe3-my-footer__content--item--list p{
    color: #cacaca;
}
.vsi-fe3-my-footer__content--item--list ul li p{
    color: #cacaca;
}
.vsi-fe3-my-footer__content--item--list ul li a{
    text-decoration: none;
    color: var(--grey);
}

.vsi-fe3-my-footer__bottom--item p, .vsi-fe3-my-footer__bottom--item a{
    color:  #cacaca;
}
.vsi-fe3-my-footer__bottom--item a{
    text-decoration: none;
    
}
.vsi-fe3-my-footer__bottom {
    border-top:  1px solid #cacaca;
    padding-top: 20px;
    /* position: absolute;
    bottom: 0; */
}
.vsi-fe3-my-footer {
    /* position: relative;
    top: -130px; */
    z-index: 99;
}

@media (max-width:991.98px) {
    .vsi-fe3-footer__banner--item h2 {
        font-size: 32px;
        color: #000000;
        text-align: left;
    }
    .vsi-fe3-footer__banner--item p {
        font-size: 16px;
        color: #000000;
        text-align: left;
    }
    .vsi-fe3-my-footer__banner--btn-right{
        display: none;
    }
}
@media (min-width:991.98px){
    .vsi-fe3-my-footer__banner--btn-left{
        display: none;
    }
}
@media (min-width:991.98px) and (max-width :1199.98px){
.vsi-fe3-footer__banner--img{
    width: 240px;
    }
}



/* CSS footer - end */

/* our-solutions start */
.vsi-fe2-our-solutions__banner--title{
    font-size: 48px;
    font-weight: 500;
}
.vsi-fe2-our-solutions__banner--title--text{
    display: block;
    text-align: center;
    max-width: 770px;
    margin: 0 auto;
    font-size: 18px;
    padding: 0 50px;
}
.vsi-fe2-our-solutions__banner--title--text--span{
    color:var(--orange) ;
}
.vsi-fe2-our-solutions__banner {
    margin: 0 auto;
    text-align: center;
}
.vsi-fe2-our-solutions__banner--btn.btn{
    transition: 0.3s all ease;
    border: 1px solid var(--black);
    background-color: var(--black);
    border-radius: 0;
    outline: none;
    padding: 15px 20px;
    box-shadow: none;
}
.vsi-fe2-our-solutions__banner--btn.btn:hover{
    color: var(--gray);
}
.vsi-fe2-our-solutions__banner--btn.btn:active{
    color: var(--gray) !important;
    background-color: var(--black)  !important;
    border: 1px solid var(--black)  !important;
    outline: 0  !important;
    
}
.vsi-fe2-our-solutions-wrap {
    background-color: var(--light-gray);
    padding: 100px 0 285px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 77%, 0% 100%);
}
.vsi-fe2-our-solutions {
    position: relative;
}
.rec{
    height: 50px;
    transition: 1.5s all ease-out;
    margin-left: auto;
    -webkit-transition: 1.5s all ease-out;
    -moz-transition: 1.5s all ease-out;
    -ms-transition: 1.5s all ease-out;
    -o-transition: 1.5s all ease-out;
}
.rec-image1 {
    position: absolute;
    left: 0px;
    bottom: -27px;
}
.rec.rec-animate {
    transform: skewY(-5deg) scaleX(1);
}
.rec.our-visual-1-1.run{
    width: 400px;
    position: relative;
    margin: 0;
    animation-name: green1;
	animation-duration: 2s;
  
}
@-webkit-keyframes green1{
    from {width: 0px;}
    to {width:400px;}
}
/* Standard syntax */
@keyframes green1{
    from {width: 0px;}
   to {width:400px;}
}
.rec.our-visual-1-1.run::before{
    position: absolute;
    content: "";
    width: 218px ;
    background-color: #69a583;
    height: 100%;
    animation-name: green2;
	animation-duration: 2s;
}

@-webkit-keyframes green2{
    from {width:0px;}
    to {width:218px;}
}
/* Standard syntax */
@keyframes green2{
    from {width: 0px;}
   to {width:218px;}
}
.rec.our-visual-1-2.run{
    width: 360px;
    margin-left: 217px;
    margin-top: -15px;
    animation-name: gray-border1;
    animation-duration: 2s;
    
}
@-webkit-keyframes  gray-border1{
    from {width: 0px;}
    to {width:360px;}
}
/* Standard syntax */
@keyframes  gray-border1{
    from {width: 0px;}
   to {width:360px;}
}
.rec.green {
    background-color: #a0d9b9;
}
.rec.gray-border {
    border: 1px solid #e7ebf1;
    background-color: transparent;
}
.rec-image2 {
    position: absolute;
    right: 0;
    bottom: -10px;
}
.rec.our-visual-2-1.run{
    width: 196px;
    margin-left: auto;
    animation-name: gray1;
    animation-duration: 2s;
}
@-webkit-keyframes  gray1{
    from {width: 0px;}
    to {width:196px;}
}
/* Standard syntax */
@keyframes  gray1{
    from {width: 0px;}
   to {width:196px;}
}
.rec.gray {
    background-color: #e7ebf1;
}
.rec.our-visual-2-2.run{
    width: 231px;
    margin-right: 76px;
    margin-top: 7px;
    animation-name: gray-border2;
    animation-duration: 2s;
}
@-webkit-keyframes  gray-border2{
    from {width: 0px;}
    to {width:231px;}
}
/* Standard syntax */
@keyframes  gray-border2{
    from {width: 0px;}
   to {width:231px;}
}
.rec.our-visual-2-3.run{
    width: 76px;
    margin-top: -12px;
    margin-left: auto;
    animation-name: green3;
    animation-duration: 2s;
}
@-webkit-keyframes green3{
    from {width: 0px;}
    to {width:76px;}
}
/* Standard syntax */
@keyframes  green3{
    from {width: 0px;}
   to {width:76px;}
}
.vsi-fe2-our-solutions-platform {
    margin-top: -242px !important;
    position: relative;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}
.vsi-fe2-our-solutions-platform-image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vsi-fe2-our-solutions-platform-image-left {
    width: 620px;
}
.vsi-fe2-our-solutions-platform-image-right {
    width: 350px;
    margin-left: -130px;
    margin-bottom: 150px !important;
}
.vsi-fe2-our-solutions-platform-image-left,
.vsi-fe2-our-solutions-platform-image-left img {
    max-width: 100%;
    height: auto;
    border: none;
    box-shadow: none;
}
.vsi-fe2-our-solutions-platform-details .content{
    text-align: center;
    font-size: 16px;
}
.vsi-fe2-our-solutions-platform-details{
    border-bottom: 1px solid var(--weak-gray );
}
.vsi-fe2-our-solutions-analytics-content-bottom{
    display: flex;

}
.vsi-fe2-our-solutions-analytics-content-bottom-inner h4{
    margin-bottom: 18px;
}
.vsi-fe2-our-solutions-analytics-content-bottom-inner .des{
    font-size: 18px;
    font-weight: 400;
}
.vsi-fe2-our-solutions-analytics{
    padding:50px 0;
}
.vsi-fe2-our-solutions-analytics-content-top h3{
    font-size: 32px;
    margin-bottom: 20px;
}
.vsi-fe2-our-solutions-analytics-lottie-show-right .img-right{
    max-width: 100% !important;
    height: 100% !important;
    width: 100% !important;
}
.imgSwiper .img-right,.img-left{
    width: 550px;
    height: 374px;
}
.swiper-container {
    width: 100%;
    height: auto;
    max-width: 100%;
}
.vsi-fe2-our-solutions-marketing .vsi-fe2-our-solutions-marketing-wrap .content-bottom{
    display: flex;
}
.swiper-pagination {
    position: relative;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
}
.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    outline: none;
    background-color: var(--orange);
}
.imgSwiper{
    max-width: 100%;
    width: 100%;
    height: auto;
}
.vsi-fe2-our-solutions-management .vsi-fe2-our-solutions-management-details{
   display: flex;
   width: 74%;
   border-radius: 3px;
   box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.22);
   background-color: #fdfdfe;
   margin: 0 auto 20px;
   padding: 28px 40px;
   transition: 0.2s all ease;
   height: 120px;
}
.vsi-fe2-our-solutions-management .vsi-fe2-our-solutions-management-details .per{
   border-radius: 50%;
   flex: 0 0 40px;
   height: 40px;
   background-color: #c9d2e4;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 22px;
   color: #959fb0;

}
.vsi-fe2-our-solutions-management-details-right h3{
    font-size: 32px;
    font-weight: 500;
}
.vsi-fe2-our-solutions-management-details-right .content{
   padding-top: 20%;
}
.vsi-fe2-our-solutions-management-system .content h3{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.2;
}
/* section vsi-fe2-our-solutions-management-system -start*/
.vsi-fe2-our-solutions-management-system .content{
    padding-right: 32%;
    margin-top: 15px;   
}
.vsi-fe2-our-solutions-management-system .channel{
    margin: auto 0 !important;
}
.vsi-fe2-our-solutions-management-system .channel .row{
    margin-bottom: 60px !important;
    text-align: center;
    margin-top: 15px;
    
}
.vsi-fe2-our-solutions-management-system .channel .logo{
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.vsi-fe2-our-solutions-management-system .channel .logo img{
    max-width: 100%;
    box-shadow: none;
}
.vsi-fe2-our-solutions-management-system .channel .img-channel-1{
max-width: 126px;
height: 25px;
}
.vsi-fe2-our-solutions-management-system .channel .img-channel-2{
    max-width: 100px;
    height: 30px;
}
.vsi-fe2-our-solutions-management-system .channel .img-channel-3{
    max-width: 125px;
    height: 38px;
}
.vsi-fe2-our-solutions-management-system .channel .img-channel-4{
    max-width: 80px;
    height: 45px;
}
.vsi-fe2-our-solutions-management-system .channel .img-channel-5{
    width: 130px;
    height: 30px;
}
.vsi-fe2-our-solutions-management-system .channel .img-channel-6{
    width: 146px;
    height: 25px;
}
.block-bottom-1{
    height: 26px;
    width: 90%;
    background-color: #e7ebf1;
    margin: 0 auto;
    border-radius: 0 0 3px 3px;
}
.block-bottom-2{
    height: 26px;
    width: 80%;
    background-color: #f3f6f9;
    margin: 0 auto;
    border-radius: 0 0 3px 3px;
}
 /*sectionvsi-fe2-our-solutions-management-system-end*/
 
 /* partner -start */
 .vsi-fe2-our-solutions-partner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    
    position: relative;
    
 }
 .overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
    background-color: #f7f9fc;
     position: absolute;
     z-index: -1;
}
 .vsi-fe2-our-solutions-partner-details{
    padding: 175px 0 250px;
 }
 .our-visual-5-1.run{
     width: 278px;
     animation-name: green5;
     animation-duration: 2s;
 }
 @-webkit-keyframes green5{
     from {width: 0px;}
     to {width:278px;}
 }
 /* Standard syntax */
 @keyframes green5{
     from {width: 0px;}
    to {width:278px;}
 }
 
 .our-visual-5-2.run{
    width: 156px;
    margin-top: 5px;
    animation-name: green-border3;
    animation-duration: 2s;
}
@-webkit-keyframes green-border3{
    from {width: 0px;}
    to {width:156px;}
}
/* Standard syntax */
@keyframes green-border3{
    from {width: 0px;}
   to {width:156px;}
}

.rec.green-border{
    border: 1px solid #69a583;
}
.rec-image4{
    position: absolute;
    left: 0;
    top: 25px;
}
.vsi-fe2-our-solutions-partner .rec-image4 .rec-left{
    margin-right: auto;
    margin-left: 0;
}
.vsi-fe2-our-solutions-partner .vsi-fe2-our-solutions-partner-details h3{
    font-size: 32px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.vsi-fe2-our-solutions-partner .vsi-fe2-our-solutions-partner-details a{
    transition: 0.3s all ease;
    color: #f26f31;
    background-color: transparent;
    text-decoration: none;
    font-size: 18px;
}
.vsi-fe2-our-solutions-partner-details a:hover .blankspace{
    padding-left: 10px;
}
.blankspace{
    font-size: 10px;
    padding-left: 5px;
    transition: 0.3s all ease;
}
.rec-image5{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.rec-image5 .our-visual-6-1.run{
    width: 76px;
    animation-name:gray2;
    animation-duration: 2s;
}
@-webkit-keyframes gray2{
    from {width: 0px;}
    to {width:76px;}
}
/* Standard syntax */
@keyframes gray2{
    from {width: 0px;}
   to {width:76px;}
}
.rec-image5 .our-visual-6-2.run{
    width: 130px;
    animation-name:gray-border3;
    animation-duration: 2s;
}
@-webkit-keyframes gray-border3{
    from {width: 0px;}
    to {width:130px;}
}
/* Standard syntax */
@keyframes gray-border3{
    from {width: 0px;}
   to {width:130px;}
}
.rec-image5 .rec.grey {
    background-color: #e7ebf1;
}
.rec-image5 .rec.grey-border {
    border: 1px solid #e7ebf1;
    background-color: transparent;
}

/* partner -end */
 /*  management-system-desc start*/
.vsi-fe2-our-solutions-management-system-desc{
    padding-top: 110px;
    position: relative;
    overflow: hidden;
}
.vsi-fe2-our-solutions-management-system-desc .content{
    position: absolute;
    top: 50%;
    left: 114px;
    transform: translateY(-50%);
    font-size: 18px;
}
.vsi-fe2-our-solutions-management-system-desc .content h3{
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: bold;
}
.rec-image6{
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}
.rec-image6 .our-visual-7-1.run{
    width: 400px;
    margin-left: 41px;
    animation-name: green6;
    animation-duration: 2s;
}
@-webkit-keyframes green6{
    from {width: 0px;}
    to {width:400px;}
}
/* Standard syntax */
@keyframes  green6{
    from {width: 0px;}
   to {width:400px;}
}

.rec-image6 .our-visual-7-2.run{
    width: 235px;
    margin-top: 10px;
    animation-name: green-border2;
    animation-duration: 2s;
}
@-webkit-keyframes green-border2{
    from {width: 0px;}
    to {width:235px;}
}
/* Standard syntax */
@keyframes green-border2{
    from {width: 0px;}
   to {width:235px;}
}
.rec-image6 .our-visual-7-3.run{
    width: 476px;
    margin-left: 270px;
    margin-top: 100px;
    animation-name: grey;
    animation-duration: 2s;
}
@-webkit-keyframes grey{
    from {width: 0px;}
    to {width:476px;}
}
/* Standard syntax */
@keyframes grey{
    from {width: 0px;}
   to {width:476px;}
}
.rec-image6 .our-visual-7-2.rec-left{
    margin-left: 0;
}
.vsi-fe2-our-solutions-management-system-desc .rec-image6 .rec.green-border{
    border: 1px solid #69a583;
    background-color: transparent;
    
}
.vsi-fe2-our-solutions-management-system-desc .rec-image6 .rec.grey{
    background-color: #e7ebf1;
}
.vsi-fe2-our-solutions-management-system-desc .rec-image6 .rec.green{
    background-color: #a0d9b9;
}
.vsi-fe2-our-solutions-management-system-desc .rec-image6 .rec-left{
    margin-right: auto;
}
.vsi-fe2-our-solutions-management-system-desc .rec-image6 .rec-animate{
transform: skewY(-5deg) scaleX(1);
}
/*  management-system-desc end*/
 /* fe-3 fix */
 footer{
    margin-top: -170px;
    
}
.vsi-fe2-my-footer__banner{
    background-color: #ffffff;
}
/* fe-3 fix end */
/* reputation start */
.vsi-fe2-our-solutions-reputation{
    padding-top: 100px;
}
.vsi-fe2-our-solutions-reputation .content{
    font-family: 'Nunito Sans', sans-serif;
    position: absolute;
    top: 50%;
    font-size: 18px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 60%;
}
.vsi-fe2-our-solutions-reputation .content h3{
    margin-bottom: 20px;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    
}
.vsi-fe2-our-solutions-reputation-right{
    margin-top: 50%;
}

/* reputation end */

/* menu-follow-section-start */


.vsi-fe2-navbar-follow-section-list-menu{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    padding: 20px 0;
   
}
.vsi-fe2-navbar-follow-section-list-menu .item{
    text-align: center;
}
.vsi-fe2-navbar-follow-section-list-menu .item .icon{
    font-size: 16px;
    color: #858383;
    cursor: pointer;
    
}
.vsi-fe2-our-solutions-platform-details .fa-check{
    color: #a0d9b9;
}
.vsi-fe2-navbar-follow-section-list-menu .item .icon .display{
    display: none;
    color: #f26f31;
}
.vsi-fe2-navbar-follow-section-list-menu a.selected .item .icon .display{
    display: inline-block;
    color: #f26f31;
    text-align: center;
}
.vsi-fe2-navbar-follow-section-list-menu a.selected .item .icon .non-display{
    display: none;
}
/* hover */
.vsi-fe2-navbar-follow-section-list-menu .item:hover .icon .display{
    display: inline-block;
    color: #f26f31;
}
.vsi-fe2-navbar-follow-section-list-menu .item:hover .icon .non-display{
    display: none;  
}
.vsi-fe2-navbar-follow-section{
    background-color: white;
    -webkit-box-shadow: 0px 3px 15px 2px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 3px 15px 2px rgba(0,0,0,0.12);
    box-shadow: 0px 3px 15px 2px rgba(0,0,0,0.12);
}
.vsi-fe2-navbar-follow-section.sickybar{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 999;
}
.vsi-fe2-navbar-follow-section a{
    text-decoration: none;
    color: black;
}
/* menu-follow-section-end */
 /*=========================*/
 /*animationscalebox-start*/
 .vsi-fe2-our-solutions-management-details-right h3 {
    font-size: 24px;
    font-weight: 700;
}
.vsi-fe2-our-solutions-analytics-lottie-show-right .img-right.active{
    display: block;
    opacity: 1;
}
.vsi-fe2-our-solutions-analytics-lottie-show-right .img-right{
    display: none;
    opacity: 0;
}
.vsi-fe2-our-solutions-management{
    position: relative;
    padding-top: 112px;
}

.our-visual-3-1.run{
    width: 60px;
    animation-name: green4;
    animation-duration: 2s;
}
@-webkit-keyframes green4{
    from {width: 0px;}
    to {width:60px;}
}
/* Standard syntax */
@keyframes  green4{
    from {width: 0px;}
   to {width:60px;}
}

.our-visual-3-2.run{
    width: 218px;
    border: 1px solid green;
    margin-top: 5px;
    animation-name: green-border1;
    animation-duration: 2s;
}
@-webkit-keyframes green-border1{
    from {width: 0px;}
    to {width:218px;}
}
/* Standard syntax */
@keyframes  green-border1{
    from {width: 0px;}
   to {width:218px;}
}

.vsi-fe2-our-solutions-management .vsi-fe2-our-solutions-management-details:first-child
{
    animation-name: basic1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.vsi-fe2-our-solutions-management .vsi-fe2-our-solutions-management-details:first-child .per{
    animation-name: per1 ;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.vsi-fe2-our-solutions-management .vsi-fe2-our-solutions-management-details:first-child .content{
    animation-name: content1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.vsi-fe2-our-solutions-management .vsi-fe2-our-solutions-management-details:nth-child(2){
    animation-name: basic2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.vsi-fe2-our-solutions-management .vsi-fe2-our-solutions-management-details:nth-child(2) .per{
    animation-name: per2 ;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.vsi-fe2-our-solutions-management .vsi-fe2-our-solutions-management-details:nth-child(2) .content{
    animation-name: content2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.vsi-fe2-our-solutions-management .vsi-fe2-our-solutions-management-details:last-child{
    animation-name: basic3;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.vsi-fe2-our-solutions-management .vsi-fe2-our-solutions-management-details:last-child .per{
    animation-name: per3 ;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.vsi-fe2-our-solutions-management .vsi-fe2-our-solutions-management-details:last-child .content{
    animation-name: content3;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes basic1 {
    0% {
        width: 74%;
        height: 104px;
        transform: scale(0.9);
    }

    15% {
        width: 80%;
        height: 115px;
        transform: scale(1);
    }

    20% {
        width: 80%;
        height: 115px;
        transform: scale(1);
    }

    35% {
        width: 74%;
        height: 104px;
        transform: scale(0.9);
    }

    100% {
        width: 74%;
        height: 104px;
        transform: scale(0.9);
    }
}
@keyframes per1 {
    0% {
        background-color: #c9d2e4;
        color: #959fb0;
    }

    15% {
        background-color: #a0d9b9;
        color: #69a583;
    }

    20% {
        background-color: #a0d9b9;
        color: #69a583;
    }

    35% {
        background-color: #c9d2e4;
        color: #959fb0;
    }

    100% {
        background-color: #c9d2e4;
        color: #959fb0;
    }
}
@keyframes content1{
    0% {
        color: #959fb0;
    }

    15% {
        color: #161616;
    }

    20% {
        color: #161616;
    }

    35% {
        color: #959fb0;
    }

    100% {
        color: #959fb0;
    }
}
@keyframes basic2 {
    0% {
        width: 74%;
        height: 104px;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    35% {
        width: 74%;
        height: 104px;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    50% {
        width: 80%;
        height: 115px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    55% {
        width: 80%;
        height: 115px;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    70% {
        width: 74%;
        height: 104px;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        width: 74%;
        height: 104px;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes per2 {
    0% {
        background-color: #c9d2e4;
        color: #959fb0;
    }

    35% {
        background-color: #c9d2e4;
        color: #959fb0;
    }

    50% {
        background-color: #a0d9b9;
        color: #69a583;
    }

    55% {
        background-color: #a0d9b9;
        color: #69a583;
    }

    70% {
        background-color: #c9d2e4;
        color: #959fb0;
    }

    100% {
        background-color: #c9d2e4;
        color: #959fb0;
    }
}
@keyframes content2 {
    0% {
        color: #959fb0;
    }

    15% {
        color: #161616;
    }

    20% {
        color: #161616;
    }

    35% {
        color: #959fb0;
    }

    100% {
        color: #959fb0;
    }
}
@keyframes basic3{
    0% {
        width: 74%;
        height: 104px;
        transform: scale(0.9);
    }

    70% {
        width: 74%;
        height: 104px;
        transform: scale(0.9);
    }

    85% {
        width: 80%;
        height: 115px;
        transform: scale(1);
    }

    90% {
        width: 80%;
        height: 115px;
        transform: scale(1);
    }

    100% {
        width: 74%;
        height: 104px;
        
        transform: scale(0.9);
    }

    100% {
        width: 74%;
        height: 104px;
       
        transform: scale(0.9);
        
    }
}
@keyframes per3{
    0% {
        background-color: #c9d2e4;
        color: #959fb0;
    }

    70% {
        background-color: #c9d2e4;
        color: #959fb0;
    }

    85% {
        background-color: #a0d9b9;
        color: #69a583;
    }

    90% {
        background-color: #a0d9b9;
        color: #69a583;
    }

    100% {
        background-color: #c9d2e4;
        color: #959fb0;
    }

    100% {
        background-color: #c9d2e4;
        color: #959fb0;
    }
}
@keyframes content3 {
    0% {
        color: #959fb0;
    }

    70% {
        color: #959fb0;
    }

    85% {
        color: #161616;
    }

    90% {
        color: #161616;
    }

    100% {
        color: #959fb0;
    }

    100% {
        color: #959fb0;
    }
}

.vsi-fe2-our-solutions-management-details-mb-item{
    display: flex;
   width: 100%;
   border-radius: 3px;
   box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.22);
   background-color: #fdfdfe;
   margin: 0 auto 20px;
   padding: 28px 40px;
   transition: 0.2s all ease;
   height: 104px;
}
.vsi-fe2-our-solutions-management-details-mb-item .per{ 
    border-radius: 50%; flex: 0 0 40px; 
    height: 40px; 
    background-color: #c9d2e4; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-right: 22px; color: #959fb0; 
}

/* .vsi-fe2-our-solutions-management-details-mb-item .content{
    opacity: 0;
    display: none;
}
.vsi-fe2-our-solutions-management .vsi-fe2-our-solutions-management-details-mb-item .content1{
    animation-name: opacityNumber1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
     
}


@keyframes opacityNumber1 {
    0% {
        
        opacity: 1;
        display: block;
    }
    33% {
        opacity: 1;
        display:block;
    }
    34% { 

        opacity: 0;
        display: none;
    }
    100%{
        opacity: 0;
        display: none;
    }
}
.vsi-fe2-our-solutions-management .vsi-fe2-our-solutions-management-details-mb-item .content2{
    animation-name: opacityNumber2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
}
@keyframes opacityNumber2 {
    0%{
        opacity: 0;
        display: block;
    }
    33%{
        opacity: 0;
        display: block;
    }
    34% {
        opacity: 1;
        display: block;
    }
    67% {
        opacity: 1;
        display:block;
    }
    68%{
        opacity: 0;
        display: block;
    }
    100%{
        opacity: 0;
        display: block;
    }
}
.vsi-fe2-our-solutions-management .vsi-fe2-our-solutions-management-details-mb-item .content3{
    animation-name: opacityNumber3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
   
}
@keyframes opacityNumber3 {
    0%{
        opacity: 0;
        display: none;
    }
    33%{
        opacity: 0;
        display: none;
    }
    67%{
        opacity: 0;
        display: none;
    }
    68% {
        opacity: 1;
        display: block;
    }
    100% {
        opacity: 1;
        display:block;
    }
   
} */
/* animation scale box -end */
/* ======================== */
@media (max-width: 575.98px) { 
      /* dashboard mobile-start */
      .vsi-fe2-our-solutions-platform-image-wrap-for-mobile-left,.vsi-fe2-our-solutions-platform-image-wrap-for-mobile-right{
        float: left;
        width: 50%;
    }
    .vsi-fe2-our-solutions-platform-image-wrap-for-mobile-left .img-left{
        width: 160px;
        height: 285px;
        position: relative;
        z-index: 1;
    }
    .imgSwiper .img-right,.img-left{
        width: 100%;
        height: 100%;
    }
    .vsi-fe2-our-solutions-wrap {
        clip-path: polygon(0% 0%, 100% 0%, 100% 77%, 0% 82%);
    }
    .vsi-fe2-our-solutions-platform-image-wrap-for-mobile-right .img-right{
    margin-top: 108px;
    margin-left: -44px;
    width: 320px;
    height: 215px;
}
.vsi-fe2-our-solutions-platform-image-wrap-for-mobile-left{
    padding-left: 8px;
    padding-top: 61px;
}
.vsi-fe2-our-solutions-platform-details{
    margin-top: 40px;
}
    /* dashboard mobile-end */
    .vsi-fe2-our-solutions__banner--title{
        font-size: 32px !important;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .vsi-fe2-our-solutions-platform hr{
      width: 90%;
      margin: 0 auto;
     color: var(--weak-gray);
    }
    .vsi-fe2-our-solutions-platform-details{
        border-bottom: 0 !important;
    }
    .item-1 hr{
        width: 330px;
        margin: 0 auto;
       }
    .vsi-fe2-our-solutions-management hr{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .vsi-fe2-our-solutions-analytics hr{
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
    }
    .vsi-fe2-our-solutions-management-system hr{
        width: 90%;
        margin: 0 auto;
    }
    .vsi-fe2-our-solutions-management-system-desc hr{
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
    }
    .vsi-fe2-our-solutions-platform hr{
        border: 1px solid var(--weak-gray);
    }
    .vsi-fe2-our-solutions-reputation{
        padding-top: 50px;
    }
    .vsi-fe2-our-solutions__banner--title--text {
        margin: 0 auto;
        font-size: 16px;
        padding: 0;
    }
    .rec-image1{
        display: none;
    }
    .our-visual-2-1{
        background-color: #69a583 !important;

    }
    .our-visual-2-2,.our-visual-2-3{
        display: none;
    }
    .rec-image2 {
        bottom: 111px;
    }
    .rec.our-visual-2-1 {
        width: 141px;
    }
    .our-visual-2-2{
        display: none;
    }
    .our-visual-2-3{
        display: none;
    }
    .vsi-fe2-our-solutions-platform-image-left, .vsi-fe2-our-solutions-platform-image-left img {
        max-width: 91%;
        height: auto;
        border: none;
        box-shadow: none;
        order: 2;
        transform: rotate(3deg);
        margin-left: 49px;
        margin-top: 17px;
        overflow: hidden;
    }
    .vsi-fe2-our-solutions-platform-image-right {
            width: 209px;
            margin-left: 0 !important;
            margin-bottom: 0 !important;
            order: 1;
            transform: rotate(-2deg);
            position: absolute;
            left: -31px;
            top: -23px;
            overflow: hidden;
    }
    .vsi-fe2-our-solutions-platform-image-wrap {
        margin-top: 45px;
    }
    .mb-5, .my-5{
        margin-bottom: 0 !important;
    }
   
    .pc-show{
        display: none;
    }
    .vsi-fe2-our-solutions-marketing .vsi-fe2-our-solutions-marketing-wrap .content-bottom {
        display: block;
    }
    .vsi-fe2-our-solutions-platform-details{
        padding: 50px 0;
    }
    .vsi-fe2-our-solutions-platform-details h4{
        margin-bottom: 20px;
    }

    .vsi-fe2-our-solutions-management-system .content{
        padding: 0;
        margin-bottom: 60px;
        width: 100%;
        max-width: 100%;
        font-size: 15px
    }
    .vsi-fe2-our-solutions-management-system .content h3{
        font-size: 24px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: -74px;
        left: 0;
        height: 100px;
        width: 100%;
    }
    .vsi-fe2-our-solutions-management-details-mb-item  .per{
        color: #69a583;
        background-color:#a0d9b9 ; 
        
    }  
    .vsi-fe2-our-solutions-management-details-mb-item .content h4{
        font-size: 18px;
        font-weight: bold;
    }
    .vsi-fe2-our-solutions-management-details-mb-item {
        padding: 29px 6px;
    }
    .vsi-fe2-our-solutions-partner .vsi-fe2-our-solutions-partner-details h3{
        font-size: 24px;
        font-weight: bold;
        width: 100%;
        width: 90%;
        margin: 0 auto;
        
    }
    .vsi-fe2-our-solutions-partner .vsi-fe2-our-solutions-partner-details a{
        font-size: 16px;
    }
    .vsi-fe2-our-solutions-partner-details{
        padding: 96px 0 250px;
     }
     .our-visual-5-1.run{
        width: 120px;
        animation-name: green5;
        animation-duration: 2s;
    }
    @-webkit-keyframes green5{
        from {width: 0px;}
        to {width:120px;}
    }
    /* Standard syntax */
    @keyframes green5{
        from {width: 0px;}
       to {width:120px;}
    }
    
    .vsi-fe2-our-solutions-partner .rec{
        height: 40px;
    }
    .vsi-fe2-our-solutions-management-system-desc .row .col-md-7{
        order: 2;
    }
    .vsi-fe2-our-solutions-management-system-desc .row .col-md-5{
        order: 1;
    }
    .vsi-fe2-our-solutions-management-system-desc .content{
        position: unset;
        font-size: 16px;
    }
    .vsi-fe2-our-solutions-management-system-desc .content h3{
        font-size: 24px;
        margin-bottom: 20px;
        width: 80%;
    }
    .vsi-fe2-our-solutions-management-system-desc .rec-image6 .rec.green {
        margin: 0;
    }


    .lottie-wrap .img-left{
        width: auto !important;
        height: auto !important;
    }
    .vsi-fe2-our-solutions-reputation .content {
        position: unset;
        font-size: 18px;
        transform: translateY(0);
        width: 100%;
    }   
    .vsi-fe2-our-solutions-reputation-right {
        margin-top: 0 !important;
    }
    .vsi-fe2-our-solutions-reputation-left .content{
        font-size: 16px;
    }
    .vsi-fe2-our-solutions-reputation-left .content h3{
        font-size: 24px;

    }
    .rec-image6 .our-visual-7-1 {
        width: 200px;
        
    }
    .rec-image6 .our-visual-7-2 {
        width: 235px;
        margin-top: 0;
    }
   
    .overlay{
        clip-path: polygon(0% 7%, 100% 0%, 100% 100%, 0% 100%);   
    }
    /* fe-3 fix */
    footer{
        margin-top: -170px;
    }
    .vsi-fe2-footer__banner--item-content h2{
        font-size: 32px;
    }
    .vsi-fe2-my-footer__bottom {
        border-top: 1px solid #cacaca;
        padding: 20px 0;
        margin-top: 30px;
    }
    /* fe-3 fix end */
  
    .vsi-fe2-our-solutions-management-details-mb-item {
        margin-bottom: 0;
       
    }
    .vsi-fe2-our-solutions-management-details-mb-item .content{
        display: none;
        opacity: 0;
    }
    .vsi-fe2-our-solutions-management-details-mb-item .content.active{
        display: block;
        opacity: 1;
        transition: all 2s ease-out;
    }
    .vsi-fe2-our-solutions-platform-details .content{
        margin: 0 0 16px 8px;
        text-align: center;
        font-size: 16px;
        display: flex;
        padding-left: 22%;
    }
    .vsi-fe2-our-solutions-platform-details h4{
        font-size: 16px;
         line-height: 1.5;
         font-weight: bold;
    }
    .vsi-fe2-our-solutions-management {
        padding: 0;
    }
    .vsi-fe2-our-solutions-management-details-right .content {
        padding-top: 0;
    }
    /* mobile follow section start */
  
.vsi-fe2-navbar-follow-section-menu-mobile{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}
.vsi-fe2-navbar-follow-section-list-menu {
    display: inline-block;
    width: 100%;
    padding: 0;
}
.vsi-fe2-navbar-follow-section-list-menu .item .text{
    text-align: left;
    padding: 10px 20px;
}
.vsi-fe2-navbar-follow-section-menu-mobile .text-title{
    font-size: 16px;
    font-weight: bold;
}

    /* mobile follow section end */
    .rec-image6 .our-visual-7-1.run{
        width: 200px;
        margin-left: 41px;
        animation-name: green6;
        animation-duration: 2s;
    }
    @-webkit-keyframes green6{
        from {width: 0px;}
        to {width:200px;}
    }
    /* Standard syntax */
    @keyframes  green6{
        from {width: 0px;}
       to {width:200px;}
    }
    
}
@media (min-width: 576px) and (max-width: 767.98px) { 
    /* dashboard mobile-start */
    .vsi-fe2-our-solutions-platform-image-wrap-for-mobile-left,.vsi-fe2-our-solutions-platform-image-wrap-for-mobile-right{
        float: left;
        width: 50%;
    }
    .vsi-fe2-our-solutions-platform-image-wrap-for-mobile-left .img-left{
        width: 160px;
        height: 285px;
        position: relative;
        z-index: 1;
    }
    .vsi-fe2-our-solutions-wrap {
        clip-path: polygon(0% 0%, 100% 0%, 100% 77%, 0% 82%);
    }
    .vsi-fe2-our-solutions-platform-image-wrap-for-mobile-right .img-right{
    margin-top: 108px;
    margin-left: -44px;
}
.vsi-fe2-our-solutions-platform-image-wrap-for-mobile-left{
    padding-left: 125px;
    padding-top: 61px;
}
.vsi-fe2-our-solutions-platform-details{
    margin-top: 40px;
}
    /* dashboard mobile-end */
    .imgSwiper .img-right,.img-left{
        width: 100%;
        height: 100%;
    }
    .item-1 hr{
        width: 550px;
        margin: 0  auto;
        padding-bottom: 10px;
       }
    .vsi-fe2-our-solutions-analytics hr{
        width: 86%;
        margin: 0 auto;
        margin-top: 40px;
    }
    .vsi-fe2-our-solutions-platform hr{
        display: none;
    }
    .vsi-fe2-our-solutions-management-details-mb-item .content{
        display: none;
        opacity: 0;
    }
    .vsi-fe2-our-solutions-management-details-mb-item .content.active{
        display: block;
        opacity: 1;
        transition: all 2s ease-out;
    }
    .vsi-fe2-our-solutions__banner--title{
        font-size: 32px !important;
        margin-bottom: 20px;
    }
    .vsi-fe2-our-solutions__banner--title--text {
        margin: 0 auto;
        font-size: 16px;
        padding: 0;
    }
    .rec-image1{
        display: none;
    }
    .our-visual-2-1{
        background-color: #69a583 !important;

    }
    .our-visual-2-2,.our-visual-2-3{
        display: none;
    }
    .rec-image2 {
        bottom: 111px;
    }
    .rec.our-visual-2-1 {
        width: 141px;
    }
    .our-visual-2-2{
        display: none;
    }
    .our-visual-2-3{
        display: none;
    }
    .vsi-fe2-our-solutions-platform-image-left, .vsi-fe2-our-solutions-platform-image-left img {
        max-width: 77%;
        height: auto;
        border: none;
        box-shadow: none;
        order: 2;
        transform: rotate(3deg);
        margin-left: 80px;
        margin-top: 15px;
        overflow: hidden;
    }
    .vsi-fe2-our-solutions-platform-image-right {
        width: 209px;
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        order: 1;
        transform: rotate(-2deg);
        position: absolute;
        left: 64px;
        top: 14px;
        overflow: hidden;
    }
    .vsi-fe2-our-solutions-platform-image-wrap {
        margin-top: 45px;
    }
    .mb-5, .my-5{
        margin-bottom: 0 !important;
    }
    .vsi-fe2-our-solutions-platform-details .content {
        text-align: center;
        font-size: 16px;
        display: flex;
        padding-left: 5%;
        margin: 0 0 16px 8px;
    }
    .vsi-fe2-our-solutions-platform-details h4{
        font-size: 16px;
         line-height: 1.5;
         font-weight: bold;
    }
    .pc-show{
        display: none;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: -27px;
        left: 0;
        height: 50px;
        width: 100%;
    }
    .vsi-fe2-our-solutions-marketing .vsi-fe2-our-solutions-marketing-wrap .content-bottom {
        display: block;
    }
    .img-right{
        width: 100%;
        height: 100%;
        max-width: 100%;
    }
    .vsi-fe2-our-solutions-management-system .channel .logo img{
      margin: 0 auto;
    }
    .vsi-fe2-our-solutions-management-system .content{
        padding: 0;
        margin: 0;
        width: 102%;
        max-width: 102%;
        font-size: 15px
    }
    .vsi-fe2-our-solutions-management-details-mb-item  .per{
        color: #69a583;
        background-color:#a0d9b9 ; 
             
    }   
    .vsi-fe2-our-solutions-partner .vsi-fe2-our-solutions-partner-details h3{
        font-size: 24px;
        font-weight: 500;
        width: 100%;
        width: 100%;
        margin: 0 auto;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
    }
    .vsi-fe2-our-solutions-partner .vsi-fe2-our-solutions-partner-details a{
        font-size: 16px;
        font-weight: 500;
    }
    .vsi-fe2-our-solutions-partner-details{
        padding: 96px 0 250px;
     }
     .rec-image4 {
        z-index: -1;
    }
     .our-visual-5-1.run{
        width: 120px;
        animation-name: green5;
        animation-duration: 2s;
    }
    @-webkit-keyframes green5{
        from {width: 0px;}
        to {width:120px;}
    }
    /* Standard syntax */
    @keyframes green5{
        from {width: 0px;}
       to {width:120px;}
    }
    .vsi-fe2-our-solutions-partner .rec{
        height: 40px;
    }
    .vsi-fe2-our-solutions-management-system-desc .row .col-md-7{
        order: 2;
    }
    .vsi-fe2-our-solutions-management-system-desc .row .col-md-5{
        order: 1;
    }
    .vsi-fe2-our-solutions-management-system-desc .content{
        position: unset;
        font-size: 16px;
    }
    .vsi-fe2-our-solutions-management-system-desc .content h3{
        font-size: 24px;
    }
    .vsi-fe2-our-solutions-management-system-desc .rec-image6 .rec.green {
        margin: 0;
    }
    
    .vsi-fe2-our-solutions-reputation .content {
        position: unset;
        font-size: 18px;
        transform: translateY(0);
        width: 100%;
    }   
    .vsi-fe2-our-solutions-reputation-right {
        margin-top: 0 !important;
    }
    .vsi-fe2-our-solutions-partner{
        margin-top: -100px;
    }
    .vsi-fe2-our-solutions-reputation-left .content{
        font-size: 16px;
    }
    .vsi-fe2-our-solutions-reputation-left .content h3{
        font-size: 24px;
    }
    .overlay{
        clip-path: polygon(0% 6%, 100% 0%, 100% 100%, 0% 100%);   
    }
    .vsi-fe2-our-solutions-management {
        padding: 0;
    }
    .vsi-fe2-our-solutions-management-details-right .content {
        padding-top: 0;
    }
    /* mobile follow section start */
  
.vsi-fe2-navbar-follow-section-menu-mobile{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}
.vsi-fe2-navbar-follow-section-list-menu {
    display: inline-block;
    width: 100%;
    padding: 0;
}
.vsi-fe2-navbar-follow-section-list-menu .item .text{
    text-align: left;
    padding: 10px 20px;
}
.vsi-fe2-navbar-follow-section-menu-mobile .text-title{
    font-size: 16px;
    font-weight: bold;
}

    /* mobile follow section end */
    .vsi-fe2-our-solutions-management hr{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .vsi-fe2-our-solutions-analytics hr{
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
    }
    .vsi-fe2-our-solutions-management-system hr{
        width: 90%;
        margin: 0 auto;
    }
    .vsi-fe2-our-solutions-management-system-desc hr{
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
    }
 }
 
@media (min-width: 768px) and (max-width: 991.98px) { 
   .mb-show{
       display: none;
   }
   .vsi-fe2-our-solutions-analytics-lottie-show-right{
       margin-top: 70%;
   }
   .rec-image5 {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translateY(-50%);
    }
.vsi-fe2-our-solutions-management-system-desc .content{
    left: 52px !important;
    top: 55%;
}

/* fix fe2 start */
.vsi-fe2-footer__banner--item-content {
    margin-top: -54px;
}
.vsi-fe2-footer__banner--item button{
    position: absolute;
    bottom: 18px;
    left: -306px;
    
}
.vsi-fe2-footer__banner--item h2 {
    font-size: 32px;
    font-weight: bold;
    width: 120%;
}
/* fix fe2 end */
.vsi-fe2-our-solutions-management .vsi-fe2-our-solutions-management-details {
    padding: 28px 6px;
}
.vsi-fe2-our-solutions-management-details .content{
    font-size: 16px ;
    width: 100%;
}
.vsi-fe2-our-solutions-management-details .content h4{
    font-size: 18px;
    width: 100%;
    }

 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .mb-show{
        display: none;
    }
    .vsi-fe2-our-solutions-management-details .content{
        font-size: 16px ;
    }
    .vsi-fe2-our-solutions-management-details .content h4{
        font-size: 18px;
    }
 }

@media (min-width: 1200px) { 
    .mb-show{
        display: none;
    }
 }
 